* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #000;
    --secoandry-text-color: #2c2c2c;
    --link-text-color: blue;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
    overflow: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

.link-text {
    color: var(--link-text-color);
}

/* Utility */
.container {
    padding: 0 2rem;
    overflow: hidden;
}

.primary-button {
    background-color: var(--link-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: #fff !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: .2s ease-out;
}

.secoandry-button {
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: .2s ease-out;
}

.secoandry-button:hover {
    border: 1px solid;
    border-radius: 6px;
    border-color: var(--link-text-color);
    color: var(--link-text-color) !important;
}

.primary-button:hover {
    color: var(--link-text-color);
    background-color: var(--secoandry-text-color);
}

/* Navbar */
.nav {
    display: flex;
    height: 65px;
    width: 100vw;
    place-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid gray;
    box-shadow: #00000026 1.95px 1.95px 2.6px;
    scroll-behavior: fixed;
    cursor: pointer;
}

.nav-logo {
    width: 25%;
}

.nav-links-main a {
    color: var(--primary-text-color) !important;
    padding: 1.4rem 1.5rem;
    font-size: 1rem;
}

.nav-links-main a:hover {
    border-top: 2px solid var(--link-text-color);
    border-bottom: 2px solid var(--link-text-color);
    color: var(--link-text-color);
    transition: .2s ease-out;
}

.nav-links-action {
    width: 25%;
    text-align: end;
}

/* Hero */
.hero {
    display: flex;
    padding: 1rem 5rem;
    place-items: center;
    /* background-color: #000; */
}

.hero-left {
    width: 50%;
}
.hero-right {
    width: 50%;
    background-color: green;
    display: flex;
    justify-content: end;
}

.hero-left p {
    margin-top: 2rem;
    line-height: 1.7;
    color: var(--secoandry-text-color) !important;
}

.hero-left a {
    margin-top: 2rem;
}


.hero-right img {
    object-fit: cover;
    overflow: none;
    height: 100%;
    width: 90%;
    
    
}

/* Contert-1 */
.content-1 {
    /* width: 100vw; */
    height: 200px;
    border-top: 1px solid #000;
    background-color: aqua;
    text-align: center;
    padding: 2rem 25rem
}